@use 'mixin';
.footer ul {
    @include mixin.inline-list();
    li{
        background-color: orange;
        padding:0.7em;
        a{
            color:blue;
            text-decoration:none;
        }
    }
}